//
// general.scss
//

html {
	position: relative;
	min-height: 100%;
}

body {
	overflow-x: hidden;
}

.input-search {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #d4d4d4;

	.select__control.css-1s2u09g-control {
		height: 44px;
		border: none;
	}
	.select__control.select__control--menu-is-open,
	.select__control.css-1pahdxg-control {
		height: 44px;
	}
}

.img-product {
	border: 1px solid #ddd9d0;
	max-width: 400px;

	img {
		width: 100%;
	}
}

.status.cho-duyet {
	border: 1px solid orange;
	border-radius: 100px;
	padding: 4px 16px;
	text-align: center;
	font-weight: 400;
	background: orange;
	color: white;
	font-size: 15px;
}

.status.thanh-cong {
	border: 1px solid #08a608;
	border-radius: 100px;
	padding: 4px 16px;
	text-align: center;
	font-weight: 400;
	background: #05aa05;
	color: white;
	font-size: 15px;
}

.status.huy {
	border: 1px solid #847692;
	border-radius: 100px;
	padding: 4px 16px;
	text-align: center;
	font-weight: 400;
	background: #847692;
	font-size: 15px;
	color: white;
}
